body{
    background-color: #171717;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.calculadora {
    background: #525252;
    width: 400px;
    padding: 15px;
}

#display{
    background-color: #c4c4c4;
    padding: 15px;
    margin: -15px -15px 0px;
}

.calculadora-acoes{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}

button{
    width: 50px;
    height: 25px;
    -webkit-appearance: none;
    outline: none;
    border: 1px, #1d1d00f6;
    margin: 5px;
}

.operador {
    background-color: #ffffa0f6;
}